* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 700;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

li a:hover {
  color: white;
}

.container {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.clearfix::after {
  content: '';
  display: table;
  clear: both;
}

.show-xs {
  display: none;
}

/* Text */
.uppercase {
  text-transform: uppercase;
}

h2 {
  font-size: 26px;
}

h3 {
  padding: 10px 0;
  font-size: 16px;
}

.f-14 {
  font-size: 14px;
}

/* Colors & Borders */
.white {
  color: white;
}

.grey {
  color: #717171;
}

.grey a {
  color: #717171;
}

/* Navbar */
#nav-bar {
  height: calc(100% - 90px);
  width: 230px;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  float: left;
  justify-content: space-between;
  background-color: black;
}

#nav-bar ul {
  margin: 8px 0;
}

#nav-bar ul li {
  line-height: 2.8;
}

    /* Nav Header */
.nav-header {
  min-height: 70px;
  padding-top: 20px;
}

.nav-header img.hidden-xs {
  height: 37px;
}

.nav-header img.show-xs {
  width: 32px;
}

    /* Nav Menu */
.nav-menu img {
  width: 32px;
  padding-right: 5px;
  vertical-align: middle;
  filter: opacity(70%);
}

.nav-menu img:hover {
  filter: none;
}

.nav-menu ul li a:hover img{
  filter: none;
}

.nav-menu .home {
  border-left: 3px solid #adff2f;
  position: relative;
  left: -20px;
}

.nav-menu .home img {
  margin-left: 16px;
  margin-bottom: 1px;
}

    /* Nav Playlist */
.nav-add-playlist ul li div {
  height: 38px;
  width: 38px;
  line-height: 34px;
  margin-right: 5px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  color: black;
  background-color: #a3a3a3;
  font-size: 36px;
}

.nav-add-playlist ul li a:first-child:hover div {
  background-color: white;
}

.nav-playlist {
  flex-grow: 2;
  min-height: 100px;
  overflow-y: auto;
}

    /* Nav Footer */
.nav-footer li:first-child {
  border-bottom: 1px solid #717171;
}

.nav-footer li:nth-child(2) {
  margin: 4px 0;
}

.nav-footer li i {
  margin-right: 10px;
  padding: 2px;
  border: 1px solid #717171;
  border-radius: 50%;
  font-size: 8px;
  vertical-align: text-top;
}

.nav-footer li a:hover i {
  border: 1px solid white;
}

.nav-footer li img {
  margin-right: 5px;
  padding: 0 2px;
  height: 26px;
  vertical-align: middle;
  background-color: #717171;
  border-radius: 50%;
}

/* Main */
main {
  height: calc(100% - 90px);
  width: calc(100% - 230px);
  padding-top: 90px;
  float: left;
  background-color: #141922;
  overflow-y: scroll;
}

    /* Main Header */
.main-header {
  height: 90px;
  width: calc(100% - 230px);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.btn-upgrade {
  height: 40px;
  line-height: 40px;
  width: 220px;
  margin-right: 25px;
  border: 1px solid white;
  border-radius: 20px;
  text-align: center;
}

.btn-upgrade:hover {
  cursor: pointer;
  transform: scale(1.2);
}

    /* Main Menu */
.main-menu {
  display: flex;
  justify-content: center;
}

.main-menu ul {
  width: 100%;
  line-height: 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.main-menu ul li {
  padding: 0 20px;
}

.main-menu ul li:first-child:after {
  content: "";
  display: block;
  width: 30px;
  height: 2px;
  position: relative;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #adff2f;
}

    /* Main Content */
.main-content section{
  padding: 20px;
}

.main-content section>span {
  display: block;
  padding-top: 8px;
}

.main-content .item-list {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}

.main-content .item {
  padding-top: 20px;
  width: calc(100% / 6 - 8px);
  text-align: center;
}

.item:not(:last-child) {
  margin-right: 8px;
}

.cover {
  position: relative;
}

.cover>img {
  width: 100%;
}

.cover .play {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cover .play i {
  font-size: 70px;
  color: white;
}

.cover:hover img{
  opacity: 40%;
}

.cover:hover .play {
  display: block;
  cursor: pointer;
}

.popular .cover>img {
  border-radius: 50%;
}

/* Footer */
footer {
  height: 90px;
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: #282828;
}


/* Responsiveness  */
@media screen and (max-width: 1200px) {
  .main-content .item {
    width: calc(100% / 4 - 8px);
  }
}

@media screen and (max-width: 1024px) {
  .cover .play i {
    font-size: 60px;
  }
}

@media screen and (max-width: 870px) {
  .main-content .item {
    width: calc(100% / 2 - 8px);
  }
}

@media screen and (max-width:620px) {
  .hidden-xs {
    display: none;
  }
  .show-xs {
    display: block;
  }

  #nav-bar {
    width: 60px;
    align-items: center;
    text-align: center;
  }

  .nav-menu {
    flex-grow: 2;
  }

  .nav-menu .home {
    border-left: 0;
    position:relative;
    left: 0;
  }

  .nav-menu .home img {
    margin: 0;
  }

  .nav-footer li i {
    margin: 0;
  }

  .nav-footer li:first-child {
    border-bottom: 0;
  }

  .nav-footer li:nth-child(2) {
    margin: 0;
  }

  .nav-footer li img {
    margin-right: 0;
  }

  main ,
  .main-header {
    width: calc(100% - 60px);
  }

  .main-menu ul {
    padding: 0 10px;
  }

  .cover .play i {
    font-size: 70px;
  }
}
